name: Retrain ML Model

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Conda Environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        activate-environment: mlflow-project-env
        environment-file: MLProject/conda.yaml
        auto-update-conda: true
        python-version: 3.9

    - name: Install MLflow
      shell: bash -l {0}
      run: |
        conda activate mlflow-project-env
        pip install mlflow==2.19.0

    - name: Run MLflow Project (Training + Preprocessing)
      shell: bash -l {0}
      run: |
        conda activate mlflow-project-env
        mlflow run MLProject

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_SHIFANABILA }}
        password: ${{ secrets.DOCKER_DCKR_PAT_A7HTX5QY2QLGUVTMTVNDKGPCVCO }}

    - name: Build and Push Docker Image from MLflow Model
      shell: bash -l {0}
      run: |
        set -e
        conda activate mlflow-project-env

        IMAGE_NAME="shifanabila/workflow-ci-instax-sales-model"

        echo "Mencari MLflow run ID terbaru..."

        RUN_ID=$(ls -td mlruns/0/* | grep -v datasets | head -n 1 | xargs basename)

        if [ -z "$RUN_ID" ]; then
          echo "ERROR: MLflow run ID tidak ditemukan"
          exit 1
        fi

        echo "RUN ID: $RUN_ID"

        MODEL_URI="runs:/${RUN_ID}/artifacts/random_forest_model"
        echo "MODEL URI: $MODEL_URI"

        mlflow models build-docker \
          --model-uri "$MODEL_URI" \
          --name "$IMAGE_NAME"

        docker push "$IMAGE_NAME"
