name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: "3.9"
        activate-environment: mlflow-project-env
        auto-activate-base: false

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda activate mlflow-project-env
        pip install mlflow scikit-learn pandas

    - name: Run training
      shell: bash -l {0}
      run: |
        conda activate mlflow-project-env
        python Membangun_model/modelling.py

    - name: Debug MLflow Artifacts
      shell: bash -l {0}
      run: |
        ls -R mlruns/0

    - name: Build Docker Image from MLflow Model
      shell: bash -l {0}
      run: |
        set -e
        conda activate mlflow-project-env

        IMAGE_NAME="shifanabila/workflow-ci-instax-sales-model"

        RUN_ID=$(ls -td mlruns/0/* | grep -v datasets | head -n 1 | xargs basename)

        echo "RUN ID: $RUN_ID"

        MODEL_URI="runs:/${RUN_ID}/model"
        echo "MODEL URI: $MODEL_URI"

        mlflow models build-docker \
          --model-uri "$MODEL_URI" \
          --name "$IMAGE_NAME"
