name: Retrain ML Model

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up MLflow Project Environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        activate-environment: "mlflow-project-env"
        environment-file: MLProject/conda.yaml
        auto-update-conda: true
        python-version: 3.9

    - name: Install MLflow
      shell: bash -l {0}
      run: |
        conda activate mlflow-project-env
        pip install mlflow==2.19.0
        sudo apt-get update
        sudo apt-get install -y jq

    - name: Run MLflow Project
      shell: bash -l {0}
      run: |
        conda activate mlflow-project-env
        python -m mlflow run MLProject

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-run-artifacts
        path: mlruns/

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_SHIFANABILA }}
        password: ${{ secrets.DOCKER_DCKR_PAT_A7HTX5QY2QLGUVTMTVNDKGPCVCO }}

    - name: Build and Push Docker Image
      shell: bash -l {0}
      run: |
        conda activate mlflow-project-env

        IMAGE_NAME="shifanabila/workflow-ci-instax-sales-model"
        IMAGE_TAG="latest"

        # Ambil RUN ID MLflow terbaru dari folder mlruns
        RUN_ID=$(ls -td mlruns/0/* | head -n 1 | xargs basename)

        # Validasi RUN_ID
        if [ -z "$RUN_ID" ]; then
          echo "ERROR: Tidak menemukan MLflow run"
          exit 1
        fi

        MODEL_URI="runs:/${RUN_ID}/artifacts/random_forest_model"

        echo "Building Docker image from model URI: ${MODEL_URI}"

        mlflow build-docker \
          --model-uri "${MODEL_URI}" \
          --image "
